*{
    margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     border: none;
     outline: none;
     scroll-behavior: smooth;
     /* overflow-x: hidden; */
     justify-content: center;
     

}
:root{
    /* --bg-color: #1f242d; */
    --bg-color: #101216;
    --second-bg-color:#323946;
    
    --text-color:#fff;
    --main-color:#0ef;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101216; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #323946; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
html{
    font-size: 80.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color); 
}
.navbar{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    margin-top: 20px;
    z-index: 10;
    padding-top: 1%;
    padding-bottom: 4%;
    
}
.ul{
    position:relative;
    display:flex;
    gap: 25px;
    z-index: 10;

}
.ul .li{
    position: relative;
    list-style-type: none;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    transition: 0.5s;
}
.ul .li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.ul .li::before{
    content: ' ';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i),var(--j));
    opacity: 0;
    transition: 0.5s;
}
.ul .li:hover::before{
    opacity: 1;
}
.ul .li::after{
    content:' ';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i),var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}
.ul .li:hover::after{
    opacity: 0.5;
}
.ul .li ion-icon{
    color: #777;
    font-size: 1.75em;
    transition: 0.5s;
} 
.ul .li:hover ion-icon{
    transform: scale(0);
    color: #fff;
    transition-delay: 0s; 
} 
.ul .li span{
    position: absolute;
}
.ul .li .title{
    color: #fff;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}
.ul .li:hover .title{
     transform: scale(1);
     transition-delay: 0.25s;

}

section{
    /* height: 50vh; */
    min-height: auto;
    padding: 10rem 9% 2rem;
    margin-top: 0;
    padding-top: 0;
    
    /* background-color: #1f242d; */
    background-color: #101216;
}
header section{
  height: 80vh;
}
.home{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.main{
    margin-left: 5rem;
}
.main h3{
    font-size: 3.2rem;
    font-weight: 700;
} 
.main h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.main h1 .name{
    font-size:5.2rem;
    font-weight: 700;
    line-height: 1.3;
    color:#0ef;
    
}
h1 .name::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #0ef;
    /* --webkit-text-stroke: 0vw #0ef;
    border-right: 100vw solid #01fe87;
    overflow: hidden;
    animation-fill-mode: forwards;
    animation: animate 6s linear 1; */
}
/* @keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
     from {left: 0px;}
  to {left: 100vw;} 
} */

.main p{
    font-size: 1.5rem;

}
.home-img{
    width: 35vw;
}
span{
    color: var(--main-color);
}
.btn{
    display: inline-block;
    width: 170px;
    height: 50px;
    margin:40px;
    background: var(--main-color);
    font-size: medium;
    border-radius: 4rem;
    /* padding: 1rem 2.5rem; */
    color: #fff;
    z-index: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;

    /* padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color); */

}
.btn .btn-txt{
    display: flex;
   justify-content: center;
   margin-top: 1.15rem;
     color: #fff;

}
.btn:hover{
    letter-spacing: 2px;
    font-size: larger;
    transform: translate(0,-5px);
    box-shadow: 0 6px 6px rgb(3, 178, 190);
}
section.education{
    /* background-color: var(--bg-color); */
    background-color: #101216;
}






































.icon{
    display:inline-flex;
    margin-top: 1.5vw;
    height: 100%;
    place-items: center;
}
.icon a{
    margin: 0 25px;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}
.icon a .layer{
    width: 55px;
    height: 55px;
    transition: transform 0.5s;
}
.icon a:hover .layer{
    transform: rotate(-35deg) skew(20deg);
}
.icon a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    Width: 100%;
    border: 1px solid #fff;
    border-radius: 40%;
    transition: all 0.5s;
}
.icon a .layer span.fab{
    font-size:30px ;
    line-height: 55px;
    text-align: center;

}
.icon a:hover .layer span:nth-child(1){
      opacity: 0.2;
}:hover
.icon a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px,-5px);
}:hover
.icon a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px,-10px);
}:hover
.icon a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px,-15px);
}:hover
.icon a:hover .layer span:nth-child(5){
    opacity: 10;
    transform: translate(20px,-20px);
}
.icon a:nth-child(1) .layer span{
    color: #4267b2;
    border-color: #4267b2;
}
.icon a:nth-child(1) .text{
    color: #4267b2;
    
}
.icon a:nth-child(2) .layer span{
    color: #1da1f2;
    border-color: #1da1f2;
}
.icon a:nth-child(2) .text{
    color: #1da1f2;
    
}
.icon a:nth-child(3) .layer span{
    color: #e1306c;
    border-color: #e1306c;
}
.icon a:nth-child(3) .text{
    color: #e1306c;
    
}
.icon a:nth-child(4) .layer span{
    color: #2867b2;
    border-color: #2867b2;
}
.icon a:nth-child(4) .text{
    color: #2867b2;
    
}
.icon a:nth-child(5) .layer span{
    color: #fff;
    border-color: #000;
}
.icon a:nth-child(5) .text{
    color: #fff;
    
}
.icon a:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #4267b2;
}
.icon a:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px #1da1f2;
}
.icon a:nth-child(3) .layer span{
    box-shadow: -1px 1px 3px #e1306c;
}
.icon a:nth-child(4) .layer span{
    box-shadow: -1px 1px 3px #2867b2;
}
.icon a:nth-child(5) .layer span{
    box-shadow: -1px 1px 3px #000 ;
}


.icon a .text{
   position: absolute;
   left: 50%;
   bottom: -5px;
   opacity: 0;
   transition: bottom 0.5 ease, opacity 1s;
   transform: translate(-50%); 
}
.icon a:hover .text{
    bottom: -35px;
    opacity: 1;
   transition: bottom 0.5 ease;
}

/* Education */
.education{
  height: auto;
  
}
  .timeline{
    position: relative;
    max-width: 1200px;
    margin:auto;
    z-index: 1;
  }
  .rishi{
    padding: 30px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    color: #fff;
  
  }
  .rishi h2{
    color: #0ef;
  }
  @keyframes movedown {
    0%{
      opacity: 1;
      transform: translateY(-30px);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
    
  }
  .rishi:nth-child(1){
    animation-delay: 0s;
  }
  .rishi:nth-child(2){
    animation-delay: 2s;
  }
  .rishi:nth-child(3){
    animation-delay: 4s;
  }
  .rishi:nth-child(4){
    animation-delay: 6s;
  }
  .rishi:nth-child(5){
    animation-delay: 8s;
  }
  .text-box{
    padding: 20px 30px;
    background: #323946;
    position: relative;
    border-radius: 6px;
    font-size: 30px;
  }
  .left{
    left: 0%;
  }
  .right{
    left: 50%;
  }
  .rishi img{
    position: absolute;
    width: 80px;
    border-radius: 50%;
    right: -40px;
    top: 32px;
    z-index: 10;
  }
  .right img{
    left: -40px;
  }
  
  .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #323946;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
  }
  @keyframes moveline {
    0%{
      height: 5%;
    }
    100%{
      height: 100%;
    }
    
  }
  .text-box h2{
    font-weight: 600;
    font-size: 40px;
  }
  .text-box small{
    display: inline-block;
    margin-bottom: 15px;
  }
  .left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 40px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #323946;
    right: -10px;
  }
  .right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 40px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #323946;
    left: -10px;
  }
  
  @media screen and (max-width: 750px) {
    
  .icon{
      margin-top:3vw;
  }
  .main h1 .name{
      font-size:4rem;
  }
  .navigation{
      justify-content: center;
      /* padding-left: 180px; */
  }
  header section{
    height: auto;
  }
 .home .home-img{
      width:20vw;
      /* height: 40vh; */
  }
  .home .main{
      padding-left:100px;
  }
  .home{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
    .timeline{
      margin: 50px auto;
    }
    .timeline::after{
      left:31px;
    }
    .rishi{
      width: auto;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box{
      font-size: 20px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .right{
      left: 0;
    }
    .left img,.right img{
      left: 10px;
      width: 50px;
    }
    .left-container-arrow,.right-container-arrow{
      border-right: 15px solid #fff;
      border-left: 0;
      left: -15px;
    }
    .left{
        left: 0;
    }
    ul{
      gap: 5px;
    }
    ul li{
      height: 45px;
      width: 45px;
    }
    ul li ion-icon{
      font-size: 1.25rem;
    }
    ul li .title{
      font-size: 0.8em;
    }  
  }


  ul{
    position: relative;
    display: flex;
    
    gap: 25px;
 }
 ul li{
    position: relative;
    list-style-type: none;
}
 ul li a{
   position: relative;
   font-size: 1.4em;
   font-weight: 200;
   text-decoration: none;
   line-height:1em ;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: transparent;
   -webkit-text-stroke:1.2px rgb(255, 255, 255);
 }
 ul li a::before{
   content: attr(data-text);
   position: absolute;
   color: #0ef;
   width: 0;
   overflow: hidden;
   transition: 0.5s;
   border-right: 2px solid #0ef;
   -webkit-text-stroke: 2px #0ef;
 }
 ul li a:hover::before{
   width: 100%;
   filter: drop-shadow(0 0 25px #0ef);
 }

 .my-line {
  border: none;
  border-top: 2px solid #666; /* replace #f00 with your desired color */
  width: 90%;
}

/* //wave  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background: #1f242d;
   */
   background: #101216;
}
.textt{
  color: #0ef;
  margin: 40px;
  font-size: 3em;
}
.wave {
  position: relative;
  /* -webkit-box-reflect: below -12px linear-gradient(transparent,rgba(0,0,0,0.2)); */
  margin: 40px;
  
} 
.wave span img{
-webkit-box-reflect: below -12px linear-gradient(transparent,rgba(0,0,0,0.2));
height: 50px;
margin: 40px 0 40px 0;
}
.wave span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  animation: wave 1.4s linear infinite;
  animation-delay: calc(0.1s*var(--i));
  padding-left:10px ;
  padding-right: 10px;
  /* -webkit-box-reflect: below -12px linear-gradient(transparent,rgba(0,0,0,0.2)); */

}

.wave span img:hover{
height: 100px;

}


@keyframes wave {
  0% {
      transform: translateY(0px);
  }

  20% {
      transform: translateY(-40px);
  }
  
  /* 60%{
      transform: translateY(60px);
  } */
  40%,100% {
      transform: translateY(0px);
  }
} 

@media screen and (max-width: 750px) {
  .flex{
      flex-wrap: wrap;
  }
  .skills .textt .wave {
      width: 100%;
  }
  
  
}

/* project */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.project{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.container{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.container .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  /* background: rgba(255,255,255,0.1); */
  background: #323946;
  backdrop-filter: blur(5px);
  border-radius: 30px;
}
.container .card:hover{
  height: 380px;
  
}
.container .card .imgBX{
  position: relative;
  width: 260px;
  align-self: center;
  /* height: 260px; */
  top: -60px;
  /* left: 10px; */
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  border-radius: 50px;
}
.container .card .imgBX img{
      max-width: 100%;
      border-radius: 50px;
}
.container .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #000;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;

}
.container .card .content h2{
  color: #0ef;
}
.container .card .content p{
  color: white;
}
.container .card .content .Pbtn{
   position: relative;
   display: inline-block;
   padding: 8px 20px;
   margin-top: 15px;
   background: #fff;
   color: #000;
   border-radius: 20px;
   text-decoration: none;
   font-weight: 500;
   background: linear-gradient();
}
.container .card .content .Pbtn a{
  text-decoration: none;
  color: #fff;
}
.container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.glow-on-hover {
  
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  color: #000;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;

}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1f242d;
  
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
@media screen and (max-width: 750px) {
  
  .project .container{
      width: 100%;
  }
}

/* contact  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.contact .content {
  max-width: 800px;
  text-align: center;
  color: #fff;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #0ef;
}

.contact .content p {
  font-weight: 300;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #0ef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  color: #000;
}

.container .contactInfo .box .text {
  padding-top: 40px;
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #666;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.5em;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #323946;
  border-radius: 15px;
}

.contactForm h2 {
  font-size: 30px;
  color: #666;
  font-weight: 500;

}

.contactForm .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
  color: #333;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #1f242d;
  background: #323946;
  outline: none;
  resize: none;
}

.contactForm .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #fff;
}

.contactForm .inputbox input:focus~span,
.contactForm .inputbox input:valid~span,
.contactForm .inputbox textarea:focus~span,
.contactForm .inputbox textarea:valid~span
{
color: #666;
font-size: 12px;
transform: translateY(-20px);

}
.contactForm .inputbox input[type="submit"]{
  width: 100px;
  background: #0ef;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
}
@media (max-width: 991px){
  .contact{
      padding: 50px;
  }
  .container{
      flex-direction: column;
  }
  .container .contactInfo{
      margin-bottom: 40px;
  }
  .container .contactInfo, .contactForm{
      width: 100%;
  }
}
